# eclipse
bin
logs
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vscode
tempdata

# Files from Forge MDK
.DS_Store
forge*changelog.txt
.apt_generated
.apt_generated_tests
.factorypath
